



<div class="d-flex justify-content-evenly">
  <img class="card-img-top"  src="../assets/Python.svg" alt="Card image cap">
  <img class="card-img-top"  src="../assets/c.svg" alt="Card image cap">
  <img class="card-img-top" src="../assets/CPlusPlus.svg" data-bs-toggle="tooltip"
       data-bs-placement="right" data-bs-title="Tooltip on right" alt="Card image cap">
  <img class="card-img-top" src="../assets/CSharp.svg" alt="Card image cap"
       >
  <img
       class="card-img-top" src="../assets/sql.png" alt="Card image cap">
  <img class="card-img-top"
       src="../assets/ts.png" alt="Card image cap">
</div>

  <div class="d-flex justify-content-evenly delay-2">
    <img class="card-img-top" src="../assets/JS.svg" alt="Card image cap">
    <img class="card-img-top" src="../assets/html5.svg" alt="Card image cap">
    <img class="card-img-top" src="../assets/css3.svg" alt="Card image cap">
    <img class="card-img-top" src="../assets/Java.svg" alt="Card image cap">
  </div>


