



<div class="d-flex justify-content-evenly">
  <img class="card-img-top"  src="../assets/Python.svg" alt="Python">
  <img class="card-img-top"  src="../assets/c.svg" alt="C">
  <img class="card-img-top" src="../assets/CPlusPlus.svg" data-bs-toggle="tooltip"
       data-bs-placement="right" data-bs-title="Tooltip on right" alt="C++">
  <img class="card-img-top" src="../assets/CSharp.svg" alt="C#"
       >
  <img
       class="card-img-top" src="../assets/sql.png" alt="SQL">
  <img class="card-img-top"
       src="../assets/ts.png" alt="Typescript">
</div>

  <div class="d-flex justify-content-evenly delay-2">
    <img class="card-img-top" src="../assets/JS.svg" alt="javascript">
    <img class="card-img-top" src="../assets/html5.svg" alt="html">
    <img class="card-img-top" src="../assets/css3.svg" alt="CSS">
    <img class="card-img-top" src="../assets/Java.svg" alt="Java">
  </div>


