

.header{

    font-weight: bold;
    color: #ebeaf3;
    background: linear-gradient(#6663df, #2fbdff);
}

h1{
  font-size: 240%;
  animation-name: movement;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  margin: 1.2%;
  padding: 1.3%;
  overflow: hidden;
}

.text-center{
  width: 100%;
}


@keyframes movement {
  from{
    transform: translateX(-2000px);
  }

  to{
    transform: translateX(2000px);
  }
}
