<div class="d-flex justify-content-evenly">
  <img class="card-img-top" loading="lazy" src="../assets/bootstrap.png" alt="Card image cap">
  <img class="card-img-top" loading="lazy" src="../assets/angular.png" alt="Card image cap">
  <img class="card-img-top" loading="lazy" src="../assets/springboot.png" alt="Card image cap">
  <img class="card-img-top" loading="lazy" src="../assets/tailwind.png" alt="Card image cap">
  <img class="card-img-top" loading="lazy" src="../assets/flutter.png" alt="Card image cap">
</div>
