



        <div class="buttons-about">
          <button type="button" class="btn btn-primary about-button">About me</button>
          <button type="button" class="btn btn-primary about-button">Volunteer</button>
          <button type="button" class="btn btn-primary about-button">Education</button>
        </div>


  <div class="col"  id="content-about">
    <div *ngIf="aboutMe">

    </div>

    <div *ngIf="educ">

    </div>

    <div *ngIf="volunteer">

    </div>

    <div *ngIf="lang">

    </div>


  </div>






