

.card {
  width: 100%;
  max-width: 90%;
  margin-top: 60px;
  border-radius: 25px;
  border: #1421b2;
  border-width: 100px;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
  opacity: 0; /* Hidden at start */
  transform: translateX(-100%); /* Start off the screen */
  animation: slide-in 1.5s forwards;
}

.card:nth-child(1) {
  animation-delay: 0.1s;
}
.card:nth-child(2) {
  animation-delay: 0.5s;
}
.card:nth-child(3) {
  animation-delay: 0.9s;
}
.card:nth-child(4) {
  animation-delay: 1.3s;
}
.card:nth-child(5) {
  animation-delay: 1.7s;
}


@keyframes slide-in {
  to {
    opacity: 1;
    transform: translateX(0); /* Move to its final position */
  }
}





.part {
  animation: slide-in 0.5s ease-out;
}

.about-title{
  font-size: 300%;
  color: #f10a44;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.card-title{
  font-size: 240%;
  font-weight: bold;
}




@keyframes fade-in {
  from {scale: .6; opacity: 0}
  to {scale: 1; opacity: 1}
}


.nav-link{
  transition: all 0.6s ease;
  border-radius: 12px;
  font-size: 120%;
  margin-bottom: 10%;
  font-weight: bold;
  text-align: center;
}

.nav-link:hover{
  background-color: #A9B9CB;
  color:#2c3e50;
}


#nav-title{
  margin-bottom: 10%;
  font-size: 100%;

}

li{
  border-radius: 12px;
  transition: all 0.6s ease;
  margin-bottom: 3%;
  margin-top: 2%;
}

li:hover{
  background-color: #1421b2;
  color: #ffffff;
}

.col-4{
  border-radius: 8px;

}

#about-section{
  position: fixed;
  border-right-style: groove;
  border-color: white;
  height: 20%;
  width: 20%;
}

#navigation{
  background-color: #ffffff;
}




#education{
  margin-top: 50px;
  margin-bottom: 50px;
}


hr{
  width: 80%;
  height: 100%;
}


.card-title{
  font-size: 130%;
  transition: all 0.5s ease;
  border-radius: 10%;
  padding:5%;
}

.card-title:hover{
  background-color: red;
  color: #eeeded;
}

.card{
  transition: all 0.5s ease;
  border-radius: 15px;
  border-style: inset;
  border-color: #387eb8;
  border-width: 1.5px;
  width: 100%;


}

.educational-card{
  align-content: center;
  align-items: center;
}



.card:hover{
  background-color: #387eb8;
  color: #eeeded;
}

.card:hover .card-title{
  background-color: red;
  color: #eeeded;
}

.btn-primary{
  transition: all 0.5s ease;
  align-content: center;
  align-items: center;
}

.btn-primary:hover{
  background-color: #eeeded;
  color: black;
}

img{
  border-radius: 50%;
}
