.buttons-about{
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 2%;
}

.about-button{   /* Control overall size */
  aspect-ratio: 1 / 1;      /* Ensures it's always a circle */
  border-radius: 50%;       /* Makes it round */
  display: flex;            /* Center content */
  align-items: center;
  justify-content: center;
  background-color: #3498db; /* Example color */
  color: white;
  border: none;
  cursor: pointer;
  font-size: 100%;
  overflow: hidden;
  padding: 2%;
  margin-right: 2%;
  transition: all 1s linear;
  animation-name: slide-in;
  animation-duration: 0.5s;
  font-weight: bold;
}

.about-button:hover{
  transform: rotate(360deg);
  background-color: #366994;
}



@keyframes slide-in {
  from{
    opacity: 0;
    transform: translateY(40px);
  }

  to{
    opacity: 1;
    transform: translateY(0px);
  }
}
