

.card{
  width: 100%;
  max-width: 90%;
  margin-top: 60px;
  border-radius: 25px;
  border: #1421b2;
  border-width: 100px;
}

.about-title{
  font-size: 300%;
  color: #f10a44;
}

.card-title{
  font-size: 240%;
  font-weight: bold;
}

.nav-link{
  transition: all 0.6s ease;
  border-radius: 12px;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.nav-link:hover{
  background-color: #A9B9CB;
  color:#2c3e50;
}


#nav-title{
  margin-bottom: 25px;
  font-size: 20px;

}

li{
  border-radius: 12px;
  transition: all 0.6s ease;
  margin-bottom: 8px;
  margin-top: 12px;
}

li:hover{
  background-color: #1421b2;
  color: #ffffff;
}

.col-4{
  border-radius: 8px;

}

#about-section{
  position: fixed;
  border-right-style: groove;
  border-color: white;
}

#navigation{
  background-color: #ffffff;
}




#education{
  margin-top: 50px;
  margin-bottom: 50px;
}


hr{
  width: 80%;
  height: 100%;
}


.card-title{
  font-size: 130%;
  transition: all 0.5s ease;
  border-radius: 10%;
  padding:5%;
}

.card-title:hover{
  background-color: red;
  color: #eeeded;
}

.card{
  transition: all 0.5s ease;
  border-radius: 15px;
  border-style: inset;
  border-color: #387eb8;
  border-width: 1.5px;

}

.card:hover{
  background-color: #387eb8;
  color: #eeeded;
}

.card:hover .card-title{
  background-color: red;
  color: #eeeded;
}

.btn-primary{
  transition: all 0.5s ease;
}

.btn-primary:hover{
  background-color: #eeeded;
  color: black;
}

img{
  border-radius: 50%;
}
