



        <div class="buttons-about">
          <button type="button" class="btn btn-primary about-button delay-1" (click)="showAbout()">About me</button>
          <button type="button" (click)="showVolunteer()" class="btn btn-primary about-button delay-2">Volunteer</button>
          <button type="button" (click)="showEduc()" class="btn btn-primary about-button delay-3">Education</button>
        </div>


  <div class="col"  id="content-about">
    <div *ngIf="noButton">
      <h1 class="text-center">Click on one of the buttons here to see my details</h1>
    </div>

    <div *ngIf="aboutMe">
      <app-about-me-section></app-about-me-section>
    </div>

    <div *ngIf="educ">
      <app-educatin-section></app-educatin-section>
    </div>

    <div *ngIf="volunteer">
      <app-volunteering-section></app-volunteering-section>
    </div>


  </div>






