<div class="container-fluid">
  <h2 class="text-center">Here are some of my projects</h2>

      <div class="row">
        <div class="col">
          <div class="card text-center">

            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Code link</a>
            </div>

          </div>
        </div>


        <div class="col">
          <div class="card text-center">

            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Code link</a>
            </div>

          </div>
        </div>
      </div>
</div>

