h2{
  width: 100%;
  border-radius: 12px;
  font-weight: bold;
  font-size: 280%;
  padding: 2%;

}

h5{
  border-radius: 8px;
  padding: 1%;
}

.card-body, .card-title{
  margin-top: 1.5%;
}








