<div class="container">
    <div class="row " >
    <div class="col-sm">
        <h1 style="text-align: center;">You can contact me here</h1>

      <div class="logos">
        <a href="https://linkedin.com/in/yassine-kerfai-14109b223" target="_blank">
          <img src="https://raw.githubusercontent.com/maurodesouza/profile-readme-generator/master/src/assets/icons/social/linkedin/default.svg" width="52" height="40" alt="linkedin logo"  />
        </a>
        <a href="https://dev.to/yassine_kerfai_25f1529c85" target="_blank">
          <img src="https://raw.githubusercontent.com/maurodesouza/profile-readme-generator/master/src/assets/icons/social/devto/default.svg" width="52" height="40" alt="devto logo"  />
        </a>
        <a href="https://instagram.com/yassine.kerfai02" target="_blank">
          <img src="https://raw.githubusercontent.com/maurodesouza/profile-readme-generator/master/src/assets/icons/social/instagram/default.svg" width="52" height="40" alt="instagram logo"  />
        </a>
        <a href="https://medium.com/@yassine.kerfai" target="_blank">
          <img src="https://raw.githubusercontent.com/maurodesouza/profile-readme-generator/master/src/assets/icons/social/medium/default.svg" width="52" height="40" alt="medium logo"  />
        </a>
        <a href="https://fb.com/kerfai.yassine" target="_blank">
          <img src="https://raw.githubusercontent.com/maurodesouza/profile-readme-generator/master/src/assets/icons/social/facebook/default.svg" width="52" height="40" alt="facebook logo"  />
        </a>
      </div>

        </div>
    </div>
</div>

