<div class="container">
    <div class="row " >
    <div class="col-sm">
        <h5 class="display-6" style="text-align: center;">Contact info</h5>
        <div class="container animated-container" style="display: inline; ">
        <div class="row container-1 item ">

            <div class="card" style="width: 9rem;">
                <div class="card" style="width: 9rem;">
                    <img class="card-img-top" src="../assets/github.png" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-title" style="text-align:center;"><b>Github</b></p>
                      <p class="card-title" style="text-align:center;"><a class="icon-link icon-link-hover" href="https://github.com/kerfaiyass54">kerfaiyass54</a>
                        <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
                    </p>
                    </div>
                  </div>
              </div>
          <div class="card" style="width: 9rem;">
            <div class="card" style="width: 9rem;">
                <img class="card-img-top" src="../assets/linkedin.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-title" style="text-align:center;"><b>Linkedin</b></p>
                  <p class="card-title" style="text-align:center;"><a class="icon-link icon-link-hover" href="https://www.linkedin.com/in/yassine-kerfai-14109b223/">Yassine KERFAI</a>
                    <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
                </p>
                </div>
              </div>
          </div>
          <div class="card" style="width: 9rem;">
            <div class="card" style="width: 9rem;">
                <img class="card-img-top" src="../assets/gmail.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-title" style="text-align:center;"><b>Gmail</b></p>
                  <p class="card-title" style="text-align:center;">kerfaiyassine1474<br>gmail.com</p>
                </div>
              </div>
          </div>
          </div>
          </div>
          
            
        </div>
    </div>
</div>

