<div class="row">
  <div class="col">
    <div class="container" style="justify-content: center;">
      <div class="card item" style="justify-content: center;">

        <div class="card-body" style="justify-content: center;">
          <h5 class="card-title" style="text-align: center;">End-of-studies project</h5>
          <div class="techs">
            <img src="../assets/angular.png" class="card-img-top" alt="yassine-kerfai" class="circular-photo">
            <img src="../assets/springboot.png" class="card-img-top" alt="yassine-kerfai" class="circular-photo">
            <img src="../assets/keycloak.png" class="card-img-top" alt="yassine-kerfai" class="circular-photo">
          </div>

          <p id="intro">  Dynamic meters configuration application
          </p>

        </div>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="container" style="justify-content: center;">
      <div class="card item" style="justify-content: center;">
        <div class="card-body" style="justify-content: center;">
          <h5 class="card-title" style="text-align: center;">Spatial Computing</h5>
          <div class="techs"><img src="../assets/python.jpg" class="card-img-top" alt="yassine-kerfai" class="circular-photo"></div>


          <p id="intro">  Development of Tunisian tourism application prototype
          </p>

        </div>

      </div>


    </div>
  </div>
  <div class="col">
    <div class="container" style="justify-content: center;">
      <div class="card item" style="justify-content: center;">

        <div class="card-body" style="justify-content: center;">
          <h5 class="card-title" style="text-align: center;">Big Data project</h5>
          <div class="techs">
            <img src="../assets/python.jpg" class="card-img-top" alt="yassine-kerfai" class="circular-photo">
            <img src="../assets/linux.png" class="card-img-top" alt="yassine-kerfai" class="circular-photo">
            <img src="../assets/docker.svg" class="card-img-top" alt="yassine-kerfai" class="circular-photo">
            <img src="../assets/postgresql.png" class="card-img-top" alt="yassine-kerfai" class="circular-photo">
          </div>

          <p id="intro">  Development of smart people data application
          </p>

        </div>

      </div>


    </div>
  </div>
</div>


<div class="row delay-2">
  <div class="col">
    <div class="container" style="justify-content: center;">
      <div class="card " style="justify-content: center;">

        <div class="card-body" style="justify-content: center;">
          <h5 class="card-title" style="text-align: center;">Engineering internship</h5>
          <div class="techs">
            <img src="../assets/angular.png" class="card-img-top" alt="yassine-kerfai" class="circular-photo">
            <img src="../assets/springboot.png" class="card-img-top" alt="yassine-kerfai" class="circular-photo">
            <img src="../assets/postgresql.png" class="card-img-top" alt="yassine-kerfai" class="circular-photo">
            <img src="../assets/elastic.png" class="card-img-top" alt="yassine-kerfai" class="circular-photo">
          </div>

          <p id="intro">  Migrate meters data from PostgreSQL to Elasticsearch
          </p>

        </div>

      </div>


    </div>
  </div>
  <div class="col">
    <div class="container" style="justify-content: center;">
      <div class="card " style="justify-content: center;">
        <div class="card-body" style="justify-content: center;">
          <h5 class="card-title" style="text-align: center;">Mobile development</h5>
          <div class="techs">
            <img src="../assets/flutter.png" class="card-img-top" alt="yassine-kerfai" class="circular-photo">
            <img src="../assets/android.png" class="card-img-top" alt="yassine-kerfai" class="circular-photo">
          </div>

          <p id="intro">  Development of a To-do list mobile application
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="container" style="justify-content: center;">
      <div class="card " style="justify-content: center;">
        <div class="card-body" style="justify-content: center;">
          <h5 class="card-title" style="text-align: center;">C# & ASP.NET project</h5>
          <div class="techs"><img src="../assets/CSharp.svg" class="card-img-top" alt="yassine-kerfai" class="circular-photo"></div>
          <p id="intro">  Development of a travel blog application
          </p>
        </div>
      </div>
    </div>
  </div>
</div>














