.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center rows horizontally */
    justify-content: center;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between; /* Spacing between cards */
    margin-bottom: 20px; /* Add margin between rows */
    width: 100%;
    max-width: 1200px; /* Limit the row width */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 22%;
    padding: 1%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    height: 300px;
    box-sizing: border-box;
}

.card img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
}


.card p {
    margin-top: 10px;
    flex-grow: 1;
}

.container-1 {
    background-color: lightblue;
    padding: 20px;
  }

  .container-2 {
    background-color: lightgreen;
    padding: 20px;
  }

  .container-3 {
    background-color: rgb(235, 158, 16);
    padding: 20px;
  }

  /* Container styling */

  /* Styling for individual items */
  .item {
     /* Start off the screen */
  }

  /* Delay each item's animation for a staggered effect */



