<div class="container">
    <div class="row " >
    <div class="col-sm">
        <h5 class="display-6" style="text-align: center;">Programming languages</h5>
        <div class="container animated-container" style="display: inline; ">
        <div class="row container-1 item ">
            <div class="card" style="width: 8rem;">
                <img class="card-img-top" src="../assets/Java.svg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text" style="text-align: center;">Java</p>
                </div>
              </div>
          
          <div class="card" style="width: 9rem;">
            <img class="card-img-top" src="../assets/Python.svg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text" style="text-align:center;">Python</p>
            </div>
          </div>
          <div class="card" style="width: 9rem;">
            <img class="card-img-top" src="../assets/c.svg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text" style="text-align:center;">C</p>
            </div>
          </div>
          <div class="card" style="width: 9rem;">
            <img class="card-img-top" src="../assets/CPlusPlus.svg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text" style="text-align:center;">C++</p>
            </div>
          </div>
          </div>
          <div class="row container-1 item ">
          <div class="card" style="width: 9rem;">
            <img class="card-img-top" src="../assets/CSharp.svg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text" style="text-align:center;">C#</p>
            </div>
          </div>
          <div class="card" style="width: 9rem;">
            <img class="card-img-top" src="../assets/JS.svg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text" style="text-align:center;">Javascript</p>
            </div>
          </div>
          <div class="card" style="width: 9rem;">
            <img class="card-img-top" src="../assets/html5.svg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text" style="text-align:center;">HTML</p>
            </div>
          </div>
          <div class="card" style="width: 9rem;">
            <img class="card-img-top" src="../assets/css3.svg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text" style="text-align:center;">CSS</p>
            </div>
          </div>
        </div>
            
        </div>
        
      <div class="w-100"></div>
      <div class="col-sm">
        <h5 class="display-6" style="text-align: center;">Frameworks</h5>
        <div class="containe animated-container" style="display: inline; ">
          <div class="row container-2 item ">
              <div class="card" style="width: 8rem;">
                  <img class="card-img-top" src="../assets/angular.png" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text" style="text-align: center;">Angular</p>
                  </div>
                </div>
            
            <div class="card" style="width: 9rem;">
              <img class="card-img-top" src="../assets/springboot.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text" style="text-align:center;">Spring Boot</p>
              </div>
            </div>
            <div class="card" style="width: 9rem;">
              <img class="card-img-top" src="../assets/flutter.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text" style="text-align:center;">Flutter</p>
              </div>
            </div>
          
          </div>
              
          </div>

      </div>
      <div class="w-100"></div>
      <div class="col-sm">
        <h5 class="display-6" style="text-align: center;">Tools</h5>
        <div class="containe animated-container" style="display: inline; ">
          <div class="row container-3 item ">
              <div class="card" style="width: 8rem;">
                  <img class="card-img-top" src="../assets/keycloak.png" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text" style="text-align: center;">Keycloak</p>
                  </div>
                </div>
            
            <div class="card" style="width: 9rem;">
              <img class="card-img-top" src="../assets/git.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text" style="text-align:center;">Git</p>
              </div>
            </div>
            <div class="card" style="width: 9rem;">
              <img class="card-img-top" src="../assets/docker.svg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text" style="text-align:center;">Docker</p>
              </div>
            </div>
          
            <div class="card" style="width: 9rem;">
              <img class="card-img-top" src="../assets/linux.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text" style="text-align:center;">Linux</p>
              </div>
            </div>
            </div>
            <div class="row container-3 item ">
            <div class="card" style="width: 9rem;">
              <img class="card-img-top" src="../assets/postgresql.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text" style="text-align:center;">PostgreSQL</p>
              </div>
            </div>
            <div class="card" style="width: 9rem;">
              <img class="card-img-top" src="../assets/android.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text" style="text-align:center;">Android studio</p>
              </div>
            </div>
            <div class="card" style="width: 9rem;">
              <img class="card-img-top" src="../assets/elastic.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text" style="text-align:center;">Elasticsearch</p>
              </div>
            </div>
          </div>
              
          </div>

      </div>
    </div>
</div>

