

.col-4, .col-8{
  justify-content: center;
  text-align: center;
  margin-top: 1.5%;
}

/*.col-4{*/
/*  padding-left: 20%;*/
/*}*/

.circular-photo {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
  align-content: center;
  align-items: center;
  margin-left: 40%;
  animation-name: movement;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-delay: 0.5s;

}


@keyframes movement {
  from{
    opacity: 0;
    transform: translateX(-20px);
  }

  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
