<div class="d-flex justify-content-evenly">
  <div class="card delay-1" style="width: 18rem;">
    <img ngSrc="../assets/tunisia.jpg" height="125"  width="125" loading="lazy" class="card-img-top" alt="arabic">
    <div class="card-body">
      <p class="card-text text-center">Native</p>
    </div>
  </div>

  <div class="card delay-2" style="width: 18rem;">
    <img ngSrc="../assets/france.png" height="125"  width="125" loading="lazy" class="card-img-top" alt="france">
    <div class="card-body">
      <p class="card-text text-center">Professional, B2</p>
    </div>
  </div>

  <div class="card delay-3" style="width: 18rem;">
    <img ngSrc="../assets/german.png" height="125"  width="125" loading="lazy" class="card-img-top" alt="german">
    <div class="card-body">
      <p class="card-text text-center">Good proficiency, B1</p>
    </div>
  </div>

  <div class="card delay-4" style="width: 18rem;">
    <img ngSrc="../assets/usa.png" height="125"  width="125" loading="lazy" class="card-img-top" alt="usa">
    <div class="card-body">
      <p class="card-text text-center">Professional, B2</p>
    </div>
  </div>
</div>
