<div class="d-flex justify-content-evenly">
  <div class="card delay-1" style="width: 18rem;">
    <img src="../assets/tunisia.jpg" loading="lazy" class="card-img-top">
    <div class="card-body">
      <p class="card-text text-center">Native</p>
    </div>
  </div>

  <div class="card delay-2" style="width: 18rem;">
    <img src="../assets/france.jpg" loading="lazy" class="card-img-top">
    <div class="card-body">
      <p class="card-text text-center">Professional, B2</p>
    </div>
  </div>

  <div class="card delay-3" style="width: 18rem;">
    <img src="../assets/german.png" loading="lazy" class="card-img-top">
    <div class="card-body">
      <p class="card-text text-center">Good proficiency, B1</p>
    </div>
  </div>

  <div class="card delay-4" style="width: 18rem;">
    <img src="../assets/usa.png" loading="lazy" class="card-img-top">
    <div class="card-body">
      <p class="card-text text-center">Professional, B2</p>
    </div>
  </div>
</div>
