img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  align-content: center;
  align-items: center;
  max-width: fit-content;
}

.justify-content-evenly{
  margin-top: 1.8%;
  animation-name: move-up;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

.delay-2{
  animation-name: move-up;
  animation-duration: 0.9s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

@keyframes move-up {
  from{
    opacity: 0;
    transform: translateY(30px);
  }

  to{
    opacity: 1;
    transform: translateY(0px);
  }

}

