<div class="d-flex justify-content-evenly">
  <img class="card-img-top" src="../assets/docker.svg" alt="Card image cap">
  <img class="card-img-top" src="../assets/git.png" alt="Card image cap">
  <img class="card-img-top" src="../assets/github.png" alt="Card image cap">
  <img class="card-img-top" src="../assets/linux.png" alt="Card image cap">
  <img class="card-img-top" src="../assets/postgresql.png" alt="Card image cap">
</div>

<div class="d-flex justify-content-evenly delay-2">
  <img class="card-img-top" src="../assets/keycloak.png" alt="Card image cap">
  <img class="card-img-top" src="../assets/mongo.png" alt="Card image cap">
  <img class="card-img-top" src="../assets/figma.svg" alt="Card image cap">
  <img class="card-img-top" src="../assets/gitlab.webp" alt="Card image cap">
</div>
