<div class="d-flex justify-content-evenly">
  <img class="card-img-top" loading="lazy" src="../assets/docker.svg" alt="Docker">
  <img class="card-img-top" loading="lazy" src="../assets/git.png" alt="Git">
  <img class="card-img-top" loading="lazy" src="../assets/github.png" alt="Github">
  <img class="card-img-top" loading="lazy" src="../assets/linux.png" alt="Linux">
  <img class="card-img-top" loading="lazy" src="../assets/postgresql.png" alt="PostgreSQL">
</div>

<div class="d-flex justify-content-evenly delay-2">
  <img class="card-img-top" loading="lazy" src="../assets/keycloak.png" alt="Keycloak">
  <img class="card-img-top" loading="lazy" src="../assets/mongo.png" alt="Mongo">
  <img class="card-img-top" loading="lazy" src="../assets/figma.svg" alt="Figma">
  <img class="card-img-top" loading="lazy" src="../assets/gitlab.webp" alt="Gitlab">
</div>
