<nav class="navbar-expand-md border-bottom mb-3">
    <div class="container">
        <ul class="nav justify-content-center">
            
              <li class="nav-item">
                <button class="nav-link text-secondary" (click)="navigateTo('/about')">About</button>
              </li>
              <li class="nav-item">
                <button class="nav-link text-secondary" (click)="navigateTo('/skills')">Skills</button>
              </li>
              <li class="nav-item">
                <button class="nav-link text-secondary" (click)="navigateTo('/projects')">Projects</button>
              </li>
              <li class="nav-item">
                <button class="nav-link text-secondary" (click)="navigateTo('/contact')">Contact</button>
              </li>
            
            </ul>
    </div>
</nav>
