<app-header></app-header>
<nav class="navbar-expand-md border-bottom mb-3">
    <div class="container">
        <ul class="nav justify-content-center display-4">
              <li class="nav-item">
                <button class="nav-link text-secondary display-4" routerLink="/about" routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page">About</button>
              </li>
              <li class="nav-item">
                <button class="nav-link text-secondary display-4" routerLink="/skills" routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page">Skills</button>
              </li>
              <li class="nav-item">
                <button class="nav-link text-secondary display-4" routerLink="/projects" routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page">Projects</button>
              </li>
              <li class="nav-item">
                <button class="nav-link text-secondary display-4" routerLink="/contact" routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page">Contact</button>
              </li>
            </ul>
    </div>
</nav>



