<div class="container-fluid">
  <h2 class="text-center">Here are some of my projects</h2>
<div class="delay-2">
  <div class="row">


    <div class="col">
      <div class="card text-center">

        <div class="card-body">
          <h5 class="card-title">Vehicule rental app</h5>
          <div class="logos">
            <img src="https://cdn.simpleicons.org/typescript/3178C6" height="200" alt="typescript logo" width="60"  />

            <img src="https://cdn.simpleicons.org/npm/CB3837" height="200" alt="npm logo" width="60"  />

            <img src="https://cdn.simpleicons.org/intellijidea/000000" height="200" alt="intellij logo" width="60"  />

            <img src="https://cdn.simpleicons.org/angular/DD0031" height="200" width="60" alt="angularjs logo"  />

            <img src="https://cdn.simpleicons.org/git/F05032" height="200" alt="git logo" width="60"  />

            <img src="https://cdn.simpleicons.org/html5/E34F26" height="200" alt="html5 logo"  width="60" />

            <img src="https://cdn.simpleicons.org/css3/1572B6" height="200" alt="css3 logo" width="60"  />

            <img src="https://skillicons.dev/icons?i=bootstrap" height="200" width="60" alt="bootstrap logo"  />

          </div>
          <div class="logos">
            <img src="https://cdn.simpleicons.org/spring/6DB33F" height="200" alt="spring logo" width="60"  />

            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" height="200" alt="java logo"  width="60" />

            <img src="https://cdn.simpleicons.org/postman/FF6C37" height="200" alt="postman logo" width="60"  />

            <img src="https://cdn.simpleicons.org/postgresql/4169E1" height="200" alt="postgresql logo" width="60"  />
          </div>

          <a href="https://github.com/kerfaiyass54/vehicule-rent-frontend" class="btn btn-primary">Code link(front)</a>
          <a href="https://github.com/kerfaiyass54/vehicule_rent_app" class="btn btn-primary">Code link(back)</a>
        </div>

      </div>
    </div>

    <div class="col">
      <div class="card text-center">

        <div class="card-body">
          <h5 class="card-title">Personal portfolio</h5>
          <div class="logos">
            <img src="https://cdn.simpleicons.org/typescript/3178C6" height="200" alt="typescript logo" width="60"  />

            <img src="https://cdn.simpleicons.org/npm/CB3837" height="200" alt="npm logo" width="60"  />

            <img src="https://cdn.simpleicons.org/intellijidea/000000" height="200" alt="intellij logo" width="60"  />

            <img src="https://cdn.simpleicons.org/angular/DD0031" height="200" width="60" alt="angularjs logo"  />

            <img src="https://cdn.simpleicons.org/git/F05032" height="200" alt="git logo" width="60"  />

            <img src="https://cdn.simpleicons.org/html5/E34F26" height="200" alt="html5 logo"  width="60" />

            <img src="https://cdn.simpleicons.org/css3/1572B6" height="200" alt="css3 logo" width="60"  />

            <img src="https://skillicons.dev/icons?i=bootstrap" height="200" width="60" alt="bootstrap logo"  />

          </div>

          <a href="https://github.com/kerfaiyass54/portfolio" class="btn btn-primary">Code link</a>
        </div>

      </div>
    </div>


  </div>

  <div class="row">
    <div class="col">
      <div class="card text-center">

        <div class="card-body">
          <h5 class="card-title">Football tournaments app</h5>

          <div class="logos">
            <img src="https://cdn.simpleicons.org/typescript/3178C6" height="200" alt="typescript logo" width="60"  />

            <img src="https://cdn.simpleicons.org/npm/CB3837" height="200" alt="npm logo" width="60"  />

            <img src="https://cdn.simpleicons.org/intellijidea/000000" height="200" alt="intellij logo" width="60"  />

            <img src="https://cdn.simpleicons.org/angular/DD0031" height="200" width="60" alt="angularjs logo"  />

            <img src="https://cdn.simpleicons.org/git/F05032" height="200" alt="git logo" width="60"  />

            <img src="https://cdn.simpleicons.org/html5/E34F26" height="200" alt="html5 logo"  width="60" />

            <img src="https://cdn.simpleicons.org/css3/1572B6" height="200" alt="css3 logo" width="60"  />

            <img src="https://skillicons.dev/icons?i=bootstrap" height="200" width="60" alt="bootstrap logo"  />

          </div>
          <div class="logos">
            <img src="https://cdn.simpleicons.org/mongodb/47A248" height="200" alt="mongodb logo" width="60"  />

            <img src="https://cdn.simpleicons.org/spring/6DB33F" height="200" alt="spring logo" width="60"  />

            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" height="200" alt="java logo"  width="60" />

            <img src="https://cdn.simpleicons.org/postman/FF6C37" height="200" alt="postman logo" width="60"  />

            <img src="https://cdn.simpleicons.org/docker/2496ED" height="200" alt="docker logo" width="60"  />

            <img src="https://cdn.simpleicons.org/postgresql/4169E1" height="200" alt="postgresql logo" width="60"  />

          </div>

          <a href="https://github.com/kerfaiyass54/football-app-frontend" class="btn btn-primary">Code link (front)</a>
          <a href="https://github.com/kerfaiyass54/football-app-back" class="btn btn-primary">Code link (back)</a>
        </div>

      </div>
    </div>


    <div class="col">
      <div class="card text-center">

        <div class="card-body">
          <h5 class="card-title">Blog application</h5>
          <div class="logos">
            <img src="https://cdn.simpleicons.org/typescript/3178C6" height="200" alt="typescript logo" width="60"  />

            <img src="https://cdn.simpleicons.org/npm/CB3837" height="200" alt="npm logo" width="60"  />

            <img src="https://cdn.simpleicons.org/intellijidea/000000" height="200" alt="intellij logo" width="60"  />

            <img src="https://cdn.simpleicons.org/angular/DD0031" height="200" width="60" alt="angularjs logo"  />

            <img src="https://cdn.simpleicons.org/git/F05032" height="200" alt="git logo" width="60"  />

            <img src="https://cdn.simpleicons.org/html5/E34F26" height="200" alt="html5 logo"  width="60" />

            <img src="https://cdn.simpleicons.org/css3/1572B6" height="200" alt="css3 logo" width="60"  />

            <img src="https://skillicons.dev/icons?i=bootstrap" height="200" width="60" alt="bootstrap logo"  />

          </div>
          <a href="https://github.com/kerfaiyass54/blog-project" class="btn btn-primary">Code link</a>
        </div>

      </div>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <div class="card text-center">

        <div class="card-body">
          <h5 class="card-title">Fake news prediction</h5>

          <div class="logos">
            <img src="https://cdn.simpleicons.org/typescript/3178C6" height="200" alt="typescript logo" width="60"  />

            <img src="https://cdn.simpleicons.org/npm/CB3837" height="200" alt="npm logo" width="60"  />

            <img src="https://cdn.simpleicons.org/intellijidea/000000" height="200" alt="intellij logo" width="60"  />

            <img src="https://cdn.simpleicons.org/angular/DD0031" height="200" width="60" alt="angularjs logo"  />

            <img src="https://cdn.simpleicons.org/html5/E34F26" height="200" alt="html5 logo"  width="60" />

            <img src="https://cdn.simpleicons.org/css3/1572B6" height="200" alt="css3 logo" width="60"  />

            <img src="https://skillicons.dev/icons?i=bootstrap" height="200" width="60" alt="bootstrap logo"  />

          </div>

          <div class="logos">

            <img src="https://cdn.simpleicons.org/python/3776AB" height="200" alt="python logo" width="60" />

            <img src="https://cdn.simpleicons.org/git/F05032" height="200" alt="git logo" width="60"  />

          </div>

          <a href="https://github.com/kerfaiyass54/fake-news-front" class="btn btn-primary">Code link(front)</a>

          <a href="https://github.com/kerfaiyass54/Fake-news-prediction" class="btn btn-primary">Code link(back)</a>
        </div>

      </div>
    </div>


    <div class="col">
      <div class="card text-center">

        <div class="card-body">
          <h5 class="card-title">To-do list app</h5>
          <div class="logos">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/androidstudio/androidstudio-original.svg" height="200" alt="androidstudio logo" width="60" />

            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flutter/flutter-original.svg" height="200" width="60" alt="flutter logo"  />

            <img src="https://cdn.simpleicons.org/git/F05032" height="200" alt="git logo" width="60"  />
          </div>

          <a href="https://github.com/kerfaiyass54/todolist-flutter" class="btn btn-primary">Code link</a>
        </div>

      </div>
    </div>
  </div>
</div>


</div>
